.pane {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  overflow: hidden;
}

.global {
  position: fixed;
}

.pane header {
  position: absolute;
  top: 0; right: 0; bottom: auto; left: 0;
  padding: 1em;

  font-weight: normal;
  line-height: 1;
  text-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 0px;
  vertical-align: middle;

  background: -webkit-linear-gradient(
    #ff9e7c 0%, #ff9e7c 2%,
    #fe875e 2%,
    #df5239 98%,
    #aa412f 98%, #aa412f 100%
  );
  background: -moz-linear-gradient(
    #ff9e7c 0%, #ff9e7c 2%,
    #fe875e 2%,
    #df5239 98%,
    #aa412f 98%, #aa412f 100%
  );
  background: linear-gradient(
    #ff9e7c 0%, #ff9e7c 2%,
    #fe875e 2%,
    #df5239 98%,
    #aa412f 98%, #aa412f 100%
  );
  color: white;

  z-index: 2;
}

.pane header .title {
  display: inline-block;
  margin-right: 1em;
}

.pane header nav {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  padding: 1em;
  text-align: center;
}

.pane header a {
  display: inline-block;
  border: 1px solid rgba(0, 0, 0, 0);
  padding: 3px 8px 2px 8px;
  margin: -4px 0 -3px 0;

  font-family: Menlo, sans-serif;
  font-size: 0.9em;
  text-decoration: none;

  color: rgb(246, 236, 232);
}

.pane header a.active {
  border: 1px solid rgb(146, 60, 46);
  border-radius: 3px;

  background: rgba(0, 0, 0, 0.2);
  color: rgb(51, 25, 21);
  text-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px;

  box-shadow:
    rgba(255, 255, 255, 0.14902) 0px 1px 0px 0px,
    inset rgba(0, 0, 0, 0.168627) 0px 1px 1px 0px;
}

.pane .main {
  position: absolute;
  top: 3em; right: 0; bottom: 0; left: 0;
  overflow: hidden;
  z-index: 1;
}

#editor {
  right: auto;
  width: 38.2%;
}

#editor header {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

#editor .main {
  border-right: 1px solid rgb(209, 209, 209);
}

#viewer {
  left: 38.2%;
}

#viewer header img {
  position: absolute;
  top: 10%; right: 1em;
  height: 80%;
}

.ace-view {
  display: block;
  width: 100%; height: 100%;
}

.frame {
  border: none;
  width: 100%; height: 100%;
}
