.editor {
  right: auto;
  width: 600px;
}

.editor .main {
  background: #333;
  color: #fafafa;
}

.editor .js-pane {
  bottom: 50%;
}

.editor .html-pane {
  top: 50%;
}

.ace-view {
  display: block;
  width: 100%; height: 100%;
}
