<header class="app-header">
  <span class="title">Ember Sandbox</span>
  <a href="http://emberjs.com" class="ember-link"></a>
</header>

<section class="pane-container">
  {{render 'fileManager'}}
  {{render 'editor'}}
  {{render 'runner'}}
</section>

<footer class="app-footer">
  <a href="http://github.com/jgwhite/ember-sandbox">View the source on GitHub &rarr;</a>
</footer>