<div class="pane editor-pane">
  <div class="ace-editor-container">
    {{#if activeFile}}
      {{ace-editor class="ace-view" session=activeSession didChange="aceEditorDidChange"}}
    {{/if}}
  </div>
</div>