<div class="pane file-manager-pane">
  {{#linkTo 'local'}}
    Hide editor
  {{/linkTo}}
  <hr>
  <div>
    {{#each controllers.sandboxFiles}}
      <div>
        {{#linkTo 'local.edit' this}}
          {{name}}
        {{/linkTo}}
      </div>
    {{/each}}
  </div>
</div>