development:
  adapter: postgresql
  encoding: unicode
  database: ember-sandbox_development
  pool: 5

test:
  adapter: postgresql
  encoding: unicode
  database: ember-sandbox_test
  pool: 5

production:
  adapter: postgresql
  encoding: unicode
  database: ember-sandbox_production
  pool: 5
