.pane-container
  position: fixed
  top: 48px
  bottom: 29px
  left: 0
  right: 0

.pane
  position: absolute
  top: 0
  bottom: 0

.file-manager-pane
  left: 0
  width: 20%

.editor-pane
  left: 20%
  width: 40%

.runner-pane
  left: 60%
  width: 40%

#runner
  width: 100%
  height: 100%

.ace-editor-container
  position: absolute
  width: 100%
  top: 0
  bottom: 0

.ace-view
  border-right: 1px solid rgb(209, 209, 209)
  height: 100%

// .frame {
//   border: none;
//   width: 100%; height: 100%;
// }